.container {
    margin: 0 120px;
    animation: fadeIn 1s ease-in-out forwards;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.selectTitle {
    font-weight: 500;
}

.items {
    margin: 20px 0;
    display: flex;
    gap: 60px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

    